$ktOrange: #e6531d;
$ktGrey: #aaa;



.kt-controls {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid $ktOrange;
  @media print { display: none; }

  button {
    margin-right: 10px;
  }
}


@mixin kt-icon($image) {
  width: 14px;
  height: 14px;
  background-image: url($image);
  background-size: cover;
  display: inline-block;
  margin-right: 4px;
}



.kt-unit-info {
  -webkit-print-color-adjust: exact;
  width: 4in;
  margin-bottom: 30px;
  margin-left: 5px;
  break-inside: avoid;
  position: relative;

  &:hover .edit {
    display: block;
  }

  .edit {
    position: absolute;
    display: none;
    top: 5px;
    right: 5px;
    cursor: pointer;

  }

  & > div {
    padding-left: 5px;
    width: 100%;
  }

  .name {
    background: $ktOrange;
    font-family: impact;
    color: white;
    font-size: 110%;
    text-transform: uppercase;
  }

  .keywords {
    background: lighten($ktOrange,30%);
    font-size: 80%;
    font-style: italic;
    text-transform: uppercase;
  }

  .info {
    .topline {
      text-align: center;
    }

    .stats {
      padding-top: 2px;
      color: #666;
      b {
        color: black;
      }
    }
  }

  .weapon {
    position: relative;

    .wname {
      position: absolute;
      top: 0px;
      left: 0px;
    }

    .stats {
      text-align: right;
    }
  }

  .sr {
    padding-left: 10px;
  }

  .wname {
    .r {
      @include kt-icon("ranged.png");
    }
    .m {
      @include kt-icon("melee.png");
    }
  }

  .i-action {
    @include kt-icon("action.png");
  }

  .i-ability {
    @include kt-icon("ability.png");
  }

  .extra {
    text-indent: -30px;
    margin-left: 30px;

    .descr {
      font-style: italic;
      font-size: 80%;
      color: #666;
    }
  }
}


.kt-roster {
  .header {
    margin-left: 5px;
    margin-bottom: 20px;
    font-family: impact;
    text-transform: uppercase;
    color: $ktOrange;

    b {
      color: black;
      display: inline-block;
      width: 80px;
      text-align: right;
      margin-right: 10px;
    }
  }
  .body {
    display: grid;
    grid-template-columns: 4.5in 2.5in;
  }
}


// --- damage tracker
.kt-dam-track {
  width: 100%;
  margin-left: 20px;

  .unit {
    padding-bottom: 13px;
  }

  .name {
    border-bottom: 2px solid $ktOrange;
    text-transform: uppercase;
    font-family: impact;
    color: $ktOrange;
  }

  .pips {
    &:nth-child(2n+1) {
      background: #efefef;
    }
  }
}


.kt-modal {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(1,1,1,.3);
  backdrop-filter: blur(2px);
  z-index: 10000;

  .inner {
    width: 300px;
    background: white;
    margin: 150px auto auto auto;
    padding: 10px;
    border: 5px solid $ktOrange;
    border-radius: 5px;
  }

  .buttons {
    grid-column: 1 / 3;
    margin-top: 10px;
    text-align: right;
    width: 100%;

    button {
      margin-left: 10px;
    }
  }
}


.kt-unit-editor {
  display: grid;
  grid-template-columns: 100px auto;

  button {
    margin-right: 10px;
  }
}


.kt-create {
  display: grid;
  grid-template-columns: 100px auto;
  font-family: impact;

  button {
    margin-right: 10px;
  }

  select {
    text-transform: uppercase;
    font-family: impact;
  }
}


.kt-loader {
  button {
    display: block;
    text-transform: uppercase;
    font-family: impact;
    margin: auto auto 5px;
  }
}



.ktg-print-hide {
  @media print { display: none; }
}


.ktg-m1 {
  color: black;
  &::before {
    content: "▲";
  }
}

.ktg-m2 {
  &::before {
    content: "○";
  }
}

.ktg-m3 {
  color: blue;
  &::before {
    content: "■";
  }
}

.ktg-m6 {
  color: red;
  &::before {
    content: "⬟";
  }
}


